<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated WebTestHub -->
      <package
            uri="urn:org.nasdanika.webtest.hub"
            class="org.nasdanika.webtest.hub.HubPackage"
            genModel="model/WebTestHub.genmodel"/>
   </extension>

</plugin>
